.card {
    background-color:rgb(255, 255, 255);
    color: black;
    min-width: 280px;
    width: 300px;
    height: 480px;
    border-radius: 8px;
    margin: 15px;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.5);
}


.card-img-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.color-overlay::before {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    content: "";
    background-color: var(--bg-secondary);
    opacity: 0.2;
}

.card-img {
    width: 100%;
    height: 300px;
    transition: transform ease .4s;
}

.card-img-zoom {
    transform: scale(1.15);
}

.card-text-content {
    color: var(--bg-secondary);
    padding: 5px;
    margin: 5px 0px 15px 5px;
    text-align: left;
    overflow: hidden;
}

.card-title {
    margin: inherit;
    font-size: 1.8em;
    max-width: 50%;
}

.card-description {
    font-size: 1.1em;
    max-width: 95%;
    margin: inherit;
    text-align: left;
    font-weight: bold;
}

.card-icon-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style: none;
    position: absolute;
    padding-right: 5px;
    top: -16px;
    left: -35px;
    background-color: var(--bg-secondary);
    border-bottom-right-radius: 8px;

}

.card-icon {
    font-size: 2em;
    margin: 5px 0px 0px 0px;
    color: rgb(255, 255, 255);
}
