.list {
    align-items: baseline;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90vw;
    width: 100%;
}

.list a {
    text-decoration: none;
}

