/* .home-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.home-page-text-content {
    position: absolute;
    top: 0px;
} */