.profileImg {
    max-width: 500px;
    width: 400px;
    height: 600px;
    transform: scale(0.95);
    border: 8px solid var(--border-color);
    border-radius: 5px;
}

.homePage {
    float: left;
    margin-right: 20px;
    max-width: 1000px;
}

.link {
  color: var(--text-primary);
}

.link:hover {
  color: orange;
}

.link:active {
  color: var(--color-highlight);
}


@media screen and (max-width: 500px) {
  .profileImg {
    width: 90%;
    height: auto;
    border: 8px solid var(--border-color);
    border-radius: 5px;
}
  .homePage {
      float: none;
      margin-right: 0px;
      max-width: 950px;
  }
}