.nav { 
  background-color: var(--bg-secondary);
  display: flex;
  z-index:100; 
  margin: 0px;
  font-family: Arial;
  font-size: 100%;
  width: 100%;
  overflow: hidden;
  height: 3em;
}

.sticky-nav {   
    position: sticky;
    top: 0px;
    /* background-color: rgb(24; 55, 85); */
}

.nav ul {
  display: flex;
  list-style-type: none;  
  text-decoration: none;
}

.nav ul li {
  margin-right: 1em;
  
}

.nav ul li span {
  color: white;
  
}
