:root {
    --bg-primary: rgb(37, 165, 177);
    --bg-primary: rgb(205, 248, 253);
    --bg-secondary:rgb(23, 50, 77);
    --color-highlight: rgb(255, 208, 0);

    --bg-primary: #eff1e9; /* page background */
    --bg-primary: #d7e3e9; /* page background */

    --bg-secondary: #040818; /* navbar and img border */
    --text-primary: #040818; 
    --color-highlight: #71d8e6;
    font-family: Arial, Helvetica, sans-serif;

    
    background-color: var(--bg-primary);


    --bg-primary: #eff1e9; /* page background */
    --bg-primary: #bbd9e7; /* page background */
    --bg-secondary: #1e379e; /* navbar and img border */
    --text-primary: #0d163d; 
    --color-highlight: #71d8e6;
    --border-color: #0a2d52;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
  font-size: 3.5em;
}


.page-contents {
    width: 92%;
    max-width: 1500px; 
    color: var(--text-primary);
    font-weight: bold;
}


@media screen and (max-width: 400px) {
  .page-contents {
    width: 100%;
  }
}